# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
## AWS parameters
AWS_ACCESS_KEY_ID=the-aws-id
AWS_SECRET_ACCESS_KEY=the-aws-key
AWS_DEFAULT_REGION=the-aws-region
AWS_AMI_ID_UBUNTU=ami-id-of-ubuntu-in-your-region
# real home outside your docker container 
REAL_HOME=your-actual-directory-outside-of-the-container
# linode token
LINODE_CLI_TOKEN=linode-token-from-dashboard
# host of the microk8s server
MICROK8S_HOST=host-of-microk8s-server
# if you want to push your custom image to push in your repo
MY_OPERATOR_IMAGE=user/nuvolaris-operator
GITHUB_USER=user
GITHUB_TOKEN=token
